.ape-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ape-card img {
  width: 100%;
}
.ape-card > img {
  /* width: 374px; */
  width: 100%;
  /* height: 373px; */
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.ape-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ape-card-verified-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ape-card-verified-user img {
  width: 22px;
}

.ape-insights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ape-insights-left {
  display: flex;
  align-items: center;
}

.ape-insights-left img {
  width: 24px;
}

.ape-card-traits {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.ape-card-trait {
  border: 1px solid #c4c4c4;
  border-radius: 9px;
  padding: 10px 18px;
}

@media (max-width: 1000px) {
  .ape-card-verified-user img {
    width: 13px;
  }
  .ape-insights-left img {
    width: 15px;
  }

  .ape-card-trait {
    padding: 8px 10px;
  }
  /* .ape-card > img {
    height: 250px;
  } */
}

@media (max-width: 500px) {
  .ape-card-traits {
    gap: 0.3rem;
  }
  .ape-card-trait {
    padding: 6px 8px;
    font-size: 11px;
  }
}
@media (max-width: 350px) {
  .ape-card-trait {
    padding: 5px 7px;
    font-size: 8.5px;
  }
}
